.container {
    justify-content: center;
    display: flex;
    align-items: center;
}
.item {
    width: 60%;
}
.title {
    font-weight:bold;
    font-size: larger;
}
.bar {
    border-radius: 5px;
    border: solid black 3px;
    padding: 10px;
    /*cursor: pointer;*/
}
.content {
    border-radius: 0 0 5px 5px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    padding: 3%;
}
.p-text {
    padding: 10px;
}
.command-block {
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
}
.code-block {
    background-color: rgb(24, 24, 51);
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
}
.code-red {
    color: rgb(255, 83, 83);
}
.code-blue {
    color: rgb(107, 107, 255);
}
.code-light-blue {
    color: rgb(190, 229, 241);
}
.code-yellow {
    color: rgb(255, 255, 111);
}
.code-green {
    color: rgb(151, 219, 48);
}
.img {
    width: 90%;
    margin: 0 5% 0 5%;
    border-radius: 5px;
    border: solid black 2px;
    padding: 0;
}