<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/global.css">
    <script src="../assets/lib/escapeHTML.js"></script>
    %%SCRIPT_PLACEHOLDER%%
    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
    <nav id="nav">
        <a class="nav-logo-link" href="/">
            <img class="logo-image" src="../assets/logo.png" alt="logo">
        </a>
        <a class="nav-link" href="/cv">CV</a> | 
        <a class="nav-link" href="/projects">Projects</a> |
        <a class="nav-link" href="/contacts">Contacts</a>
    </nav>

    <main>